.container {
  /* padding: 50px; */
  height: 100%;
  background: none;
}

#groupes {
  margin: 50px;
}

table {
  width: 100%;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  padding-left: 16px;
}

.mat-column-actions {
  width: 130px;
  text-align: center;
}

.mat-row:hover {
  background-color: rgb(222, 222, 222);
  /* cursor: pointer; */
}

mat-drawer#drawer {
  width: 30vw;
  border: 0;
  /* height: 80vh; */
  /* margin-left: 20px; */
}

.drawer-content {
  margin-left: 20px;
  padding: 15px;
  height: 80vh;
}

mat-form-field {
  width: 100%;
}

#drawer {
  margin-top: 50px;
}

div.drawer-actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}


div.drawer-actions button {
  width: 100px;
  margin-left: 5px;
}

mat-chip {
  justify-content: space-between;
}
