<mat-drawer-container class="container" autosize>
  <mat-drawer id="drawer" class="mat-elevation-z8" #drawer mode="side" position="end">

    <div class="drawer-content">

      <app-title title="{{sideTitle}}">
        <div class="drawer-actions">
          <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="selectedStagiaire?.id != 0">Delete</button>
          <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="selectedStagiaire?.id == 0 || !stagiaireFormGroupe.pristine">Save</button>
          <button mat-raised-button (click)="onCancel()">Close</button>
        </div>
      </app-title>

      <form [formGroup]="stagiaireFormGroupe">
        <mat-form-field appearance="outline">
          <mat-label>Prenom</mat-label>
          <input id="prenom" formControlName="prenom" matInput>
          <mat-error [printErrors]="stagiaireFormGroupe.get('prenom')"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input id="nom" formControlName="nom" matInput>
          <mat-error [printErrors]="stagiaireFormGroupe.get('nom')"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input id="email" formControlName="email" matInput>
          <mat-error [printErrors]="stagiaireFormGroupe.get('email')"></mat-error>
        </mat-form-field>
      </form>
      <mat-form-field class="example-chip-list" appearance="outline">
        <mat-label>Groupes</mat-label>
        <mat-chip-list #chipList class="mat-chip-list-stacked" aria-label="Selection groupes">
          <mat-chip
            *ngFor="let g of groupesFormArray.value; let i = index"
            (removed)="removeGroupe(i)">
            <p>{{g.nom}}</p>
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
        <input
          placeholder="Ajouter un groupe"
          #groupeInput
          [formControl]="groupeControl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addGroupe($event)">
          <mat-option *ngFor="let g of filteredGroupes | async" [value]="g">
            {{g.nom}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="mat-elevation-z8" style="padding: 5px; display: flex; align-items: center;">
        <img src="assets/wip.png" style="width: 50px;">
        Modules attended by stagiaire will be here. Maybe.
      </div>



    </div>
  </mat-drawer>


<div id="stagiaires" class="mat-elevation-z8">

  <app-title title="Stagiaires">
    <button mat-raised-button color="primary" (click)="onAdd()">Nouveau</button>
  </app-title>

  <table mat-table [dataSource]="stagiaires" class="" #table>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Prenom </th>
      <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="groupsName">
      <th mat-header-cell *matHeaderCellDef> Groupes </th>
      <td mat-cell *matCellDef="let element"> {{element.groupeNames}} </td>
    </ng-container>

    <ng-container matColumnDef="participationsNb">
      <th mat-header-cell *matHeaderCellDef> Nb. participations </th>
      <td mat-cell *matCellDef="let element"> {{element.participationsNb}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id','firstname','lastname','email','groupsName','participationsNb']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id','firstname','lastname','email','groupsName','participationsNb'];" (click)="onSelect(row)"></tr>
  </table>

</div>


</mat-drawer-container>
